<footer class="page-footer">
   <div class="container">
      <div class="row">
        <div class="text-center footer-text">
         <span class="lined-text">ALL WORK IS GUARANTEED</span>
         <p>At Collins Automotive Technicians we pride ourselves on the quality of your work and offer a guarantee on everything we do.</p>
        </div>
      </div>
    </div>

    <div class="text-center copy-right">
      <p>&copy; Copyright  {{ moment().format('YYYY') }} Collins Automotive Technicians. Website by <a href="https://www.pan.co.nz/" target="_blank">PAN</a>. <a href="/admin">Admin</a></p>
    </div>
</footer>
