<header class="page-header">
   <div class="main-nav">
     <div class="container">
       <div class="row">
         <div class="col-lg-3 col-md-12 logo">
          <img src="/public/uploads/ca-logo.svg" alt="Collins Auto Logo">
         </div>
         <div class="col-lg-9 text-right text-uppercase desktop-nav">
            <div></div>
            {{render.menu("1")}}
         </div>

       </div>
       <div class="hamburger"><img src="/public/uploads/hamburger.svg" alt="Toggle Menu"></div>
       <div class="row  mobile-nav">

         <div class="col-md-12 text-uppercase">
            <div class="row  mobile-menu">
               {{render.menu("1")}}
            </div>

         </div>

       </div>
     </div>
  </div>

</header>
