<script type="text/javascript" src="/public/js/vendor.js"></script>
<script type="text/javascript" src="/public/js/master.js"></script>
<script src="https://use.typekit.net/xyd1yog.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{{ app.scripts }} {# Required #}
