<!DOCTYPE html>
<html>
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body class="text-center p-4">
    <h1>404 - Page Not Found</h1>
    test
    {% include 'partials/scripts.njk' %}
  </body>
</html>
