<!DOCTYPE html>
<html>
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body class="text-center p-4">
    <h1>500 - Internal Server Error</h1>
    {{ error }}
    {% include 'partials/scripts.njk' %}
  </body>
</html>
