<!DOCTYPE html>
<html>
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body>
    <div id="header">
      {% block header %}
      {% include 'partials/header.njk' %}
      {% endblock %}
    </div>
    <main id="body">
      <div data-cms-block data-name="default">
        {{ body.default }}
      </div>
      {% include 'snippets/choose-us.njk' %}
    </main>
    <div id="footer">
      {% block footer %}
      {% include 'partials/footer.njk' %}
      {% endblock %}
    </div>
    {% include 'partials/scripts.njk' %}
  </body>
</html>
