
   <div class="chooseUs">
      <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
         <span class="lined-text text-uppercase">Choose Us</span>
         </div>
      </div>

     <div class="row">
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/batteryTesting.svg" alt="Battery Testing and Installation">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="public/uploads/airConditioning.svg" alt="Air Conditioning">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/diagnostics.svg" alt="Diagnostics">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/brakeSteeringSuspension.svg" alt="Brake, Steering, Suspension">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/electricalRepairs.svg" alt="Electrical Repairs">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="public/uploads/tyersAlignment.svg" alt="Tyers Alignment">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/servicingMechanicalRepairs.svg" alt="Servicing Mechanical Repairs">
       </div>
       <div class="col-lg-3 col-md-6  text-center">
         <img src="/public/uploads/wofVehicleInspection.svg" alt="Warrant of Fitness and vehicle inspections">
       </div>
     </div>
  </div>
  </div>
<div class="light-grey-section">
   <div class="container">
     <div class="row">
         <div class="col-md-4 col-sm-12 text-center box">
            <img src="/public/uploads/ourServices.png" alt="Our Services">
            <div class="white-box">
               <span class="lined-text black-lined-text text-uppercase">Our Services</span>
               <p>We strive to diagnose the exact fault the first time by testing your vehicle with the latest diagnostic equipment.</p>
               <button type="button" class="btn text-uppercase">Read More</button>
            </div>

         </div>
         <div class="col-md-4 col-sm-12  text-center box">
            <img src="/public/uploads/batteryTesting.png" alt="Battery Testing">
            <div class="white-box">
               <span class="lined-text black-lined-text text-uppercase">Battery Testing</span>
               <p>We provide you with the best service and solutions for all your battery needs, at competitive rates.</p>
               <button type="button" class="btn  text-uppercase">Read More</button>
            </div>

         </div>
         <div class="col-md-4 col-sm-12 text-center box">
            <img src="/public/uploads/mtaMember.png" alt="MTA Member">
            <div class="white-box">
               <span class="lined-text black-lined-text text-uppercase">MTA Member</span>
               <p>As a MTA member we make a promise to customers to provide them with superior services and to stand by our work.</p>
               <button type="button" class="btn text-uppercase">Read More</button>
            </div>

         </div>

     </div>
   </div>
</div>
<div class="map-section">
   {% include 'snippets/custom-map.njk' %}
   <div class="container">
     <div class="row">
         <div class="col-md-4 col-sm-12 text-center box location">
            <div class="white-box">
               <span class="lined-text black-lined-text text-uppercase">Location</span>
               <p>2 Quentin Drive, Hamilton</p>
               <span class="lined-text black-lined-text text-uppercase">Phone</span>
               <p>07 838 1321</p>
               <span class="lined-text black-lined-text text-uppercase">Hours</span>
               <p>Monday - Friday</p>
               <p>7:30am - 5pm</p>
               <br>
               <p>Saturday</p>
               <p>9am - 12pm</p>
               <br>
            </div>

         </div>

     </div>
   </div>
</div>
