@import '_variables';

@import 'bootstrap/settings';
@import 'bootstrap/bootstrap';

// Your files here...
// @import 'path/to/my/file';

body, button{
   font-family: "din-condensed",sans-serif;
}
body{
   font-size: 17px;
   text-align: center;
}
p{
    font-size: 0.9em;
    font-family: "open-sans",sans-serif;
    font-weight: 300;
    margin: 0px;
}

h1{
   margin-bottom: 30px;
}

a{
   color: $theme-red;

   &:hover{
      color: darken($theme-red, 13%);
   }
}

section{
   padding: 30px 0px;

   .lined-text{
      .container{
         text-align: center;
      }
      //
      // [data-widget=grid]{
      //    margin-top: 30px;
      //    margin-bottom: 30px;
      // }

      }
}
.col3 [data-widget=container]{
      -webkit-columns: 3;
       -moz-columns: 3;
      columns: 3;
      height: 363px;
}


section.lined-text h6{
   font-family: "din-condensed",sans-serif;
   color: #1a1a1a;
   text-transform: uppercase;
   font-size: 2em;
   border-bottom: 1.25px solid #1a1a1a;
   border-top: 1.25px solid #1a1a1a;
   padding-bottom: 2px;
   padding-top: 2px;
   margin: 40px auto 30px;
   display: inline-block;
}

.page-footer{
   background-color: $grey;
   color: $white;
   .footer-text{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

      p{
         max-width: 323px;
      }
   }


   .copy-right{
      background-color: $theme-black;
      padding: 10px 0px;
      color: #616161;
      a{
         color: $white;
         opacity: 0.45;
      }
   }
}
span.lined-text{
   color: $white;
   font-size: 2em;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 40px 0px 30px;
    display: inline-block;
}
span.black-lined-text{
   color: $theme-black;
   border-color: $theme-black;
}

button{
   margin: 30px 0px;
   background-color: $theme-red;
   color: $white;

   &:hover{
      background-color: darken($theme-red, 13%);
   }
}

.main-nav li:last-child {
   background: #e51c24;
   border-radius: 43px;
   width: 78px;
   height: 81px;
   padding: 3px 1px 0px 0.2px;
   position: relative;
   top: -17px;
   text-align: center;
   line-height: 20px;

   &:hover{
     background-color: darken($theme-red, 13%);
  }
}

.main-nav li:last-child a {
   color: #fff;
   position: relative;
   top: 17px;
   width: 50px;
   padding: 0px;
   margin: 0px auto;
}

.chooseUs{
   background-image: url("/public/uploads/chooseUs.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header{
   background-image: url("/public/uploads/header.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-nav{
   background-color: $nav-white;
   a{
      color: $theme-black;
   }

   a:hover{
      color: $theme-red;
   }

   .logo{
      img{
         width: 90%;
         max-width: 350px;
         padding-top: 10px;
      }
   }


   .nav--main{
         padding-top: 30px;
   }
}
.hamburger{
   width: 36px;
   position: absolute;
   top: 30px;
}

.mobile-nav{
   display: block;
   text-align: center;
   padding: 20px 0px;
}
.box{
   margin: 20px 0px;
   img{
      width: 100%;
   }

}
.white-box{

   background-color: $white;
}
.light-grey-section{
   background-color: $light-grey;

   p{
      margin-left: 10px;
      margin-right: 10px;
   }
}

section.col3 {
    padding: 0px;
}

//Mobile and Tablet view -------------------------
@media(max-width: 991px){
   .hamburger{
      display: block;
   }
   .mobile-nav{
      display: block;


      .mobile-menu{
         display: none;
      }
  }

     .nav{
        display: block;
     }

  .desktop-nav{
     display: none;
 }
 .logo{
        text-align: center;
        img{
              padding-left: 30px;
        }
   }

.light-grey-section{
   .col-md-4{
      padding: 7px;
   }

}

.col3 [data-widget=container]{
      -webkit-columns: 2;
       -moz-columns: 2;
      columns: 2;
      height: 535px;
}

.location{
   position: inherit;
   margin-left: auto;
   margin-right: auto;

}

}//end mobile view

//Desktop view -------------------------
@media(min-width: 992px){

   .float-nav{
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 100;
      box-shadow: 0px 1px 15px 0px rgba(144, 143, 143, 0.59);
      background-color: #fff;
      .logo{
             text-align: center;
             img{
                   max-width: 120px;
             }
        }
   }
   .mobile-nav, .hamburger{
      display: none;
   }


   .desktop-nav{
      display: inherit;
      justify-content: flex-end;
  }

  .location{
     position: relative;
     top: -620px;
     right: -66.7%;
  }


}//end desktop view


@media(min-width: 768px) and (max-width: 1199px){

   .light-grey-section{

      .white-box{
         height: 325px;
         button{
            position: absolute;
            right: 30px;
            bottom: 0px;
         }
      }
   }

}


@media(max-width: 767px) {
   p{
      margin-left: 15px;
      margin-right: 15px;
   }
   .chooseUs{
      img{
         width: 70%;
      }
   }

   .col3 [data-widget=container]{
         -webkit-columns: 1;
          -moz-columns: 1;
         columns: 1;
         height: auto;
   }

}
